extends ../shared/template

block content
  #about About
  #info Welcome to the Disney Chimera Factory! <br> Checkout out our Chimeras page to look at our current Chimeras or click 'New' to make your own!
